/* VARIABLES */
:root {
    --mx-width: 1320px;
    --color-text-body: #D3D3D4;
    --color-primary: #5956e9;
    --color-secondary: #D3D3D4;
    --color-banner: #27272E;
    --color-text-btn: #fff;
    --color-bg-btn: #2522ba;
    --color-subtitle: #c75c6f;
    --color-title: ##D3D3D4;
    --color-bg-services: #27272E;
    --color-bg-projects: #292930;
    --color-bg-dark: #27272E;
    --color-hover-dark: #FFDC60;
    --color-text-description: #99A1AA;
    --color-borders: #393940;
}

body {
    background-color: #212121;
}

.nav__submenu {
    background-color: var(--color-banner);
}

.banner__btn {
    background-color: var(--color-primary);
}

.menu__navbar--fixed {
    background-color: var(--color-banner);
}

.services__service {
    background: var(--color-banner);
    background-color: var(--color-banner);
}

.project__content {
    background-color: var(--color-banner);
}

.project__title:hover {
    color: var(--color-hover-dark);
}

.layout__contact::before {
    background-color: var(--color-banner);
}

.new__more {
    color: var(--color-text-body);
}

.contact__subtitle {
    color: #FFDC60;
}

.contact__btn {
    background-color: var(--color-primary);
}

.fleft__group {
    background-color: #27272E;
    box-shadow: none;
}

.fleft__form-control {
    background-color: #27272E;
    color: var(--color-title);
}

.widget__link:hover {
    color: var(--color-hover-dark);
}